.popup__title {
  width: 358px;
  font-size: 24px;
  line-height: calc(29 / 24);
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
