.profile__first-line {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .profile__first-line {
    align-items: center;
    margin-bottom: 7px;
  }
}
