.header__nav {
  display: flex;
  margin-top: 6px;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .header__nav {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-end;
  }
}
