.header__sign-out {
  color: #A9A9A9;
  font-size: 18px;
  line-height: calc(22 / 18);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .3s;
}

.header__sign-out:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .header__sign-out {
    font-size: 14px;
    line-height: calc(17 / 14);
    margin-right: 25px;
  }
}